@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Basic Styling */
*{
  font-family: "Quicksand";
  text-decoration: none;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  font-size: 15px;
  margin: 0 auto;
  border-bottom: 3px solid #f2f2f2;
}
.navbar h1{
  color: #ff00ff;
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #ff00ff;
}
.content{
  max-width: 900px;
  margin: 40px auto;
  /* padding: 20px; */
}

/* todos styling in home page */

.title{
  color: #000;
  font-size: 20px;
  width: 100%;
}
 
.content form{
  display:block;
  padding: 20px;
}
.content form label{
  display: block;
  padding: 10px;
  width: 100%;
}

.content form input, .content form textarea{
  width: 100%;
  padding: 10px;
}

.content form button{
  background: #da70d6;
  color: #000;
  border: 0px;
  padding: 4px;
  position: relative;
  top: 20px;
  width: 100px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
}

#error {
  color: red;
}

.gender {
  display: flex;
  justify-content: flex-start;
}

.checkbox {
  display: flex;
  justify-content:flex-start;
  padding-top: 10px;
}

.content .btn {
  display: flex;
  justify-content:space-around;
}